<!DOCTYPE html>

body{
	margin: 0;
	margin-top: 50px;
}

header{
	font-family: Verdana, Serif, Times;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 150px; /*Since the sidenavigation width is 150px, move the header 150px to the left to match*/
	height: 50px;
	line-height: 50px;
	background-color:#eee;
}

header * {
	display: inline;
	height: 50px;
}

header ul {
	padding: 0;
}

header li {
	margin-left: 20px;
}

header a {
	text-decoration: none;
	color: black;
}

header .general:hover {
	color: #6a0dad;
}

header .ProjectDropdown:hover {
	color: #dddddd;
}

header .dropdown {
	position: relative;
	display: inline-block;
}

header .dropdown-content {
	display: none;
	position: absolute;
	width: max-content;
	box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
	z-index: 1;
}

header .dropdown-content a {
	color: black;
	background-color: #f1f1f1;
	padding: 0px 4px;
	text-decoration: none;
	display: block;
}

header .dropdown-content a:hover {background-color: #ddd;}

header .dropdown:hover .dropdown-content {display: block;}

.sidenav {
	font-family: Verdana, Serif, Times;
	height: 100%;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 0px 8px 0px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .sidenav-img{
	vertical-align: middle;
	width: 35px;
	border-radius: 100%;
}

.sidenav .ProjectDropdown:hover {
	color: #dddddd;
}
.sidenav .dropdown a {
	padding: 0px 8px 16px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

.sidenav .dropdown-content {
	display: none;
	position: fixed;
	width: max-content;
	margin: -52px 0px 0px 150px;
	box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
	z-index: 1;
}

.sidenav .dropdown-content a {
	color: black;
	background-color: #f1f1f1;
	padding: 8px 8px;
	text-decoration: none;
	display: block;
}

.sidenav .dropdown-content a:hover {background-color: #ddd;}

.sidenav .dropdown:hover .dropdown-content {display: inline-block;}

section {
	height: 100vh;
	margin-left: 140px;
	padding: 0;
	display: flex;
	background-size: cover;	/*This sets background image to the size of section*/
	justify-content: center;
	align-items: center;
	text-align: center;
}

section h2 {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0;
	font-size: 2.5em;
}

section h3 {
	margin: 0px 0px 0px px;
	padding: 0;
	font-size: 1.5em
}

section h4 {
	margin: 0;
	padding: ;
	font-size: 1.0em
}

section a:visited {
	color: red;
}

#hero .profile-img{
	width: 300px;
	border-radius: 50%;
}


#hero h1 {
	font-size: 3em;
}

#hero, #TreasureHunt {
	font-family: Verdana, Serif, Times;
	background-image: url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');

}
#About {
	font-family: Verdana, Serif, Times;
	background-image: url('marble.jpg');

}
#About p {
	font-style: 
}
#DreamsforSchools {
	font-family: Verdana, Serif, Times;
	background-image: url('Background02.jpg');

}
#contact {
	font-family: Verdana, Serif, Times;
	color: #ffffff;
	background-image: url('Contact.jpg');
}

.Game {

   	width: 115px;
   	height: 25px;
 	background: #4E9CAF;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	box-shadow: 5px, 10px;
}
/*footer{
	text-align: center;
	padding: 0;
	height: 50px;
	line-height: 50px;
	background-size: cover;
	background-color: #eee;
}*/